<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" type="text/css" href="/public/chart.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <title>Moggle Labs</title>
  </head>
  <body>
    <!-- html 경계선------------------------ -->
    <div id="wrap">
      <h3 style="font-size: 24px; font-weight: normal; border-bottom:1px solid rgb(100,100,100);">투자 전략 : <%=(요청값)%></h3>
      <div class="big-box">
        <div class="backtesting-chart-box">
          <h4 style="font-size:20px;font-weight: normal;">백테스팅 결과</h4>
          <!--차트가 그려질 부분-->
          <canvas id="myChart"></canvas>
        </div>
        <div class="percent-box">
          <table class="parcent-table">
            <tbody>
              <tr>
                <td>포트폴리오 수익률</td>
                <td><%=(메트릭스[0]*100).toFixed(2)%>%</td>
              </tr>
              <tr>
                <td>연 환산 수익률</td>
                <td><%=(메트릭스[1]*100).toFixed(2)%>%</td>
              </tr>
              <tr>
                <td>벤치마크 초과수익률을 낼 확률</td>
                <td><%=(메트릭스[2]*100).toFixed(2)%>%</td>
              </tr>
              <tr>
                <td>MDD</td>
                <td><%=(메트릭스[3]*100).toFixed(2)%>%</td>
              </tr>
              <tr>
                <td>Sharpe</td>
                <td><%=(메트릭스[4]).toFixed(2)%></td>
              </tr>
            </tbody>
          </table>
          <p>
            2011~2021년 위 전략으로 투자한다면<br>
            총 <span style="font-weight:bolder;"><%=(메트릭스[0]*100).toFixed(2)%>%</span>의 수익률을 얻지만,<br>
            전고점 기준 최대 <span style="font-weight:bolder;"><%=(메트릭스[3]*100).toFixed(2)%>%</span>의
            손실이 난 적 있습니다. <br>
            시장평균보다 높은 수익률을 낼 확률은 <span style="font-weight:bolder;"><%=(메트릭스[2]*100).toFixed(2)%>%</span>입니다.
          </p>
        </div>
      </div>
      <h4 style="font-size:24px; font-weight: normal;">포트폴리오 구성</h4>

      <table class="pfo-box">
        <tbody>
          <% for(var j=0; j<5; j++){ %>
          <tr>
            <% for(var i=0; i<6; i++){ %>
            <td><%=피에프오네임[j+i*5]%></td>
            <td><%=(피에프오웨이트[j+i*5]*100).toFixed(2)%>%</td>
            <%}%>
          </tr>
          <%}%>
        </tbody>
      </table>
      <button onclick="downloadCSV();">엑셀 다운로드</button>
    </div>
    <!-- html 경계선------------------------ -->
    <script type="text/javascript">
        var benchData=<%- JSON.stringify(그래프벤치데이터) %>;
        var graphName=<%- JSON.stringify(그래프데이트) %>;
        var pfoData=<%- JSON.stringify(그래프피에프오) %>;

      var years = new Array();
      for(var i=0;i<graphName.length;i++){
          if(i%6 == 0 ){
              years[i]=graphName[i];
          }
          else{
              years[i]=' ';
          }
      }
      // console.log(years);
      var context = document
          .getElementById('myChart')
          .getContext('2d');
      var myChart = new Chart(context, {
          type: 'line', // 차트의 형태
          data: { // 차트에 들어갈 데이터
              labels: years,
              datasets: [
                  { //데이터
                      label: '유니버스 전체 수익률', //차트 제목
                      fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                      data:benchData,
                      backgroundColor: [
                          //색상
                          'rgb(17, 105, 14)',
                      ],
                      borderColor: [
                          //경계선 색상
                          'rgb(15, 143, 10)'
                      ],
                      borderWidth: 1 //경계선 굵기
                      ,pointRadius:1, //포인터 반경 범위
                  } ,
                  {
                      label: '포트폴리오 수익률',
                      fill: false,
                      data: pfoData,
                      backgroundColor: 'rgb(10, 18, 120)',
                      borderColor: 'rgb(23, 33, 165)',
                      pointRadius:1, //포인터 반경 범위
                      borderWidth: 1
                  }
              ]
          },
          options: {
              scales: {
                  yAxes: [
                      {
                          ticks: {
                              suggestedMin: Math.min(...benchData.concat(pfoData).map(Number))-10,
                              suggestedMax: Math.max(...benchData.concat(pfoData).map(Number))+10,
                              //Math.max(...benchData.concat(pfoData).map(Number))+10
                              beginAtZero: false,
                            fontSize: 18
                          },
                      }
                  ],
                xAxes: [
                  {
                    ticks: {
                      fontSize:15
                    }
                  }
                ]
              },
              legend: {
                display: true,
                labels: {
                  fontSize: 18
                }
              },
            }
      });
    </script>
  <script type="text/javascript">
    var pfoWeight=<%- JSON.stringify(피에프오웨이트) %>;
    var pfoName=<%- JSON.stringify(피에프오네임) %>;
    var request=<%- JSON.stringify(요청값) %>;
    function downloadCSV(){
      var a = "";
      for(var i=0; i<pfoWeight.length; i++){
        a += pfoName[i] + "," + pfoWeight[i] + "\r\n";
      }

      var downloadLink = document.createElement("a");
      var blob = new Blob(["\ufeff"+a], { type: "text/csv;charset=utf-8" });
      var url = URL.createObjectURL(blob);
      downloadLink.href = url;
      downloadLink.download = request + ".csv";

      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    }
  </script>
  </body>
</html>
