<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta

    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="/public/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/sirius.css" />
    <script src="../public/sirius.js" defer></script>
    <script src="../public/header.js" defer></script>
    <script
      src="https://kit.fontawesome.com/c3d18ec51c.js"
      crossorigin="anonymous"
    ></script>
    <title>Moggle Labs</title>
  </head>
  <body>
    <%if(사용자 === undefined){ %> <%- include('header.html') %> <%}%>
    <%if(사용자!==undefined){%> <%- include('header-login.html') %> <%}%>
    
    <div id="body">
      <div id="wrap">
        <section>
          <article>
            <div style="margin-left:30px; margin-top:15px;">
              <h3>시리우스 <span style="font-weight:normal; font-size:15px;">- 베타버전</span></h3>
              <br>
              <p>재무 데이터 기반의 팩터 추출 엔진인 시리우스입니다. <br>
                보시고 계신 것은 시리우스의 최소한의 기능만 담아 테스트해볼 수 있도록 만든 웹버전입니다.<br>
                (PC환경에 최적화되어있어, 모바일에서는 사용이 어려울 수 있습니다.)<br><br>
                관심 가져주시는 분이 많다면, 앞으로 더 많은 기능들을 추가해보겠습니다.<br>
                추가되었으면 하는 기능이 있다면 moggle.labs@gmail.com으로 문의주시면 감사하겠습니다.<br>
                저희가 하는 일에 흥미가 생기셨다면 위 <span style="font-weight:bold;">About Us</span>를 클릭해 주세요!
            </div>
            <form action="/sirius" method="POST" class="form-box">

              <div class="select-box">
                <p>팩터 재료</p>
                <select
                name="factor"
                class="select-factor"
                oninput="document.getElementById('value1').innerHTML=this.value;"
                >
                <option value="시가총액">시가총액</option>
                <option value="매출액">매출액</option>
                <option value="영업이익">영업이익</option>
                <option value="당기순이익">당기순이익</option>
                <option value="PER">PER</option>
                <option value="PBR">PBR</option>
                <option value="ROE">ROE</option>
                <option value="영업이익률">영업이익률</option>
                <option value="당기순이익률">당기순이익률</option>
                <option value="ROA">ROA</option>
                <option value="부채비율">부채비율</option>
              </select>
            </div>
            
              <div class="range-box">
                <p>기준점 설정</p>
                <div class="slider">
                  <input
                  type="range"
                  id="input-left"
                  name="rangeL"
                  min="0"
                  max="100"
                  value="0"
                  oninput="document.getElementById('value2').innerHTML=this.value;"
                  />
                  <input
                  type="range"
                  id="input-right"
                  name="rangeR"
                  min="1"
                  max="100"
                  value="100"
                  oninput="document.getElementById('value3').innerHTML=this.value;"
                  />
                  <div class="track">
                    <div class="range"></div>
<!--                    <div class="thumb left"></div>-->
<!--                    <div class="thumb right"></div>-->
                  </div>
                </div>
                <br />
                <p>팩터 기준점:</p>
                <p id="value2">0</p> - <p id="value3">100</p>
                <p style="opacity:0.7;">위의 초록색 원을 움직여 <br>범위를 조절해주세요.</p>
                <br>
                <p style="opacity:0.7;">* 팩터 스코어가 높을수록 <br>백분위가 높습니다.</p>
                <br />
                </div>
              <div class="method-box">
                <p>유니버스 설정</p>
                <br/>
                <input
                  class="method-button"
                  type="radio"
                  name="type"
                  value="전체 상장기업"
                  oninput="document.getElementById('value1').innerHTML=this.value;"
                />
                <p>전체 상장기업</p>
                <br />
                <input
                  class="method-button"
                  type="radio"
                  name="type"
                  value="KOSPI"
                  oninput="document.getElementById('value1').innerHTML=this.value;"
                />
                <p>KOSPI</p>
                <br />
                <input
                  class="method-button"
                  type="radio"
                  name="type"
                  value="KOSDAQ"
                  oninput="document.getElementById('value1').innerHTML=this.value;"
                />
                <p>KOSDAQ</p>
                <br />
              </div>
              <br />
              <button class="send-button" type="submit">전략 적용</button>
            </form>
            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!-- <%= 개인 %> -->
            <iframe name="chart" class="chart-plot" src="/chart/<%= 개인 %>">
            </iframe>

            <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
            본 웹사이트를 통해 제공되는 정보는 투자 자문이나 권유에 해당하지 않습니다. <br>
            정보의 활용에 대한 결정 및 책임은 사용자에게 있습니다.
          </article>
        </section>
      </div>
    </div>

    <%- include('footer.html') %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  </body>
</html>
